* {

table th,
table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background: #f1f5f9;
}

.perigo {
    color: red;
    font-weight: bold;
}

.medio {
    color: orange;
    font-weight: bold;
}

/* INFORMAÇÕES */
.informacoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.info-box {
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.info-box h3 {
    margin-bottom: 15px;
}

/* RESPONSIVO */
@media(max-width: 900px) {

    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background: #f1f5f9;
}

.perigo {
    color: red;
    font-weight: bold;
}

.medio {
    color: orange;
    font-weight: bold;
}

/* INFORMAÇÕES */
.informacoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.info-box {
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.info-box h3 {
    margin-bottom: 15px;
}

/* RESPONSIVO */
@media(max-width: 900px) 

     {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }
